* {
    margin:0;
    padding:0;
    box-sizing: content-box;
    font-family:"poppins";
    color: rgb(80, 80, 80);

}

/* HEADER */


.box {
    /* width: 100%; */
    height: 20px;
    background-color: rgb(164, 166, 168);
    background: linear-gradient(to bottom, rgb(164, 166, 168), white );
    

}

.container_navbar_movil{
    display: none;
}

.fondo {
    /* width: 100%; */
    height: 300px;
    background-image: url("../images/background-image.jpg") ;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: cover;
    filter:brightness(70%);
    box-shadow: 0 0 8px 8px  black inset;
    display: flex;
    justify-content: center;


}

.fondo img {
    width: auto;
    text-align: center;
}



.container_navbar_laptop .imagen {
    width: 200px;
    text-align: right;
}

.container_navbar_laptop .imagen img {
    width:80px;
   
}


.container_navbar_laptop {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items:center;
}

.container_navbar_laptop nav{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    width: 700px;
    justify-content: space-between;
    margin-right: 20px;

}

nav a {
    color:rgb(80, 80, 80);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    font-size: 22px;
    color: #7184b8;

}

.home {
    color: #456dd1d0;
}

.boton_inscribete {
    background: #7184b8;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    color: whitesmoke;
}

.boton_inscribete:hover {
    font-size: 21px;
    color:gold;
}




/*  HOME  */

/*  BODY   */


.main {
    width: 80%;
    margin: auto;
    min-height: 400px;

}


.container{
    display:flex;
    justify-content:space-evenly;
    margin: 90px 0 100px 0;
    font-size: 20px;
    align-items: center;
}


.curso {
    text-align: center;
    height: 300px;
    width: 200px;
    justify-content: space-evenly;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px 10px  rgb(184, 184, 184);
    background-color: rgba(236, 235, 235, 0.87);
    font-size: 25px;

}

.curso curso1 {
    border: 1px solid grey;
}

.fecha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    margin-top: 20px;
    border-bottom: 1px solid rgb(146, 146, 146);
}

.mes {
    text-align: left;

}

.dia {
     width: 40px;
}

.tipo {
    margin: 30px auto 30px auto;

}

.inscribir {
    height: 40px;
    margin-top: 30px;
    width: 150px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 0 6px 6px  rgb(184, 184, 184);
    background: linear-gradient(to right,#d1d6e0,#b9bfce,#939bb3,#838eb1,#7989b8,#7184b8);
    border-radius: 5px;
}

.inscribir a{
    text-decoration: none;
    color: black;
}

.inscribir:hover {
    width: 170px;
    font-size: 22px;
}

/*  FOOTER  */

footer {
    height: 50px;
    width: 100%;

}

.containerFooter{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.imagen2 img {
    width: 150px;
    position:absolute;
    margin-top: 20px;
    display: block;
    margin-left: 80px;
}

.containerFooter p {
    margin-right: 50px;
    margin-top: 30px;

}

.linea2{
    position:absolute;
    z-index: -1;
    width: 100%;
    height: 80px;
    background-color: rgb(164, 166, 168);
    background: linear-gradient(to top, rgb(164, 166, 168), white );
}

/*  CONTACTO  */

h2{
    text-align: center;
    font-weight: bold;
    border: 3px solid lightgray;
    margin-top: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


.containerContacto {
    width: 40%;
    margin-left: 650px;
    margin-top: 150px;
    text-align: center;

}

.containerContacto p {
    margin-top: 20px;
}

.main .lineaContacto {
    border-left:  3px solid lightgray;
    height: 297px;
    position: absolute;
    margin-top: -78px;
    margin-left: 600px;


}

iframe {
    position: absolute;
    margin-top: -80px;
    margin-left: 130px;

}

/*  CONÓCENOS  */


.container2 {
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-around;

}

.cabecera {
    width: 40%;
    text-align: center;
    margin: 260px 90px 20px 0px;
    font-weight: bold;
}

.lineaConocenos {
    border-left:  3px solid lightgray;
    height: 680px;
    position: absolute;
    margin-top: 20px;
    margin-left: -230px;
}


.profes {
    width: 60%;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: space-around;
}

.mentor {
    height: 150px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 90px;
}

.mentor:hover {
    transform:scale(1.2);
    transition: transform 2s;

}

.nombre {
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
    margin-bottom: 30px;

}

.mentor p{
    text-align:start;
    margin-left: 20px;
    vertical-align: top;
    height: 150px;
}

.mentor img {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    margin-bottom: 10px;

}


/*    INFO    */

.containerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;



}

.horario {
    font-size: 15px;
    display:flex;
    justify-content: space-evenly;
    height: 300px;
    margin-top: 150px;


}

.imagenHorario img {
    width: 180px;
    height: 180px;
    border-radius: 180px;
    box-shadow: 0 0 20px rgba(137, 138, 131, 0.5);
}

.listaDescriptiva dl {
    width: 750px;
    font-weight: bold;

}

.listaDescriptiva dt{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    background-color: rgba(211, 211, 211, 0.336);
    box-shadow: 0 0 10px rgba(137, 138, 131, 0.397);

}

.listaDescriptiva dd {
    margin-left: 10px;
}

/*  Tabla  */

.containerInfo h3 {
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid lightgrey;

}

.contenidoTabla {
    border-collapse: collapse;
    margin: 45px 0 0 0;
    border-radius: 5px 5px 0 0;
    overflow:auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-size: 16px;



}


.contenidoTabla thead tr {
    background-color: #57668dd0;
    color: white;
    text-align: left;
    font-weight: bold;
}

.contenidoTabla th,
.contenidoTabla td {
    padding: 12px 0 12px 60px;

}



.contenidoTabla tbody tr {
    border-bottom: 1 px solid rgb(133, 130, 130);
    color: rgb(53, 53, 53);

}


.contenidoTabla tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;

}

.contenidoTabla tbody tr:last-of-type {
    border-bottom: 2px solid #7184b8;
}

.contenidoTabla tbody tr:hover {
    background-color: #57668da6;
    transition: 0.5s;
    transform:scale(1.02);
    color: white;
    font-weight: bold;

}


/*   Listas   */

ul {
    padding: 0 0 10px 20px;
    list-style-type:none;
}

#tags,
#atributos,
#selectores,
#pseudoclases,
#propiedades {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

li p {
    font-weight: bold;
    font-size: 15px;

}

.containerListas {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 15px;



}

.lineaContenido {
    border-left:  3px solid lightgray;
    height: 1800px;
    position: absolute;
    margin-top: 20px;
    margin-left: 600px;
}

.contenido {
    width: 600px;
}


.containerListas h3 {
    text-align: center;
    font-size: 20px;
    margin: 20px 0 20px 0;
    background-color: rgba(211, 211, 211, 0.336);
    box-shadow: 0 0 10px rgba(137, 138, 131, 0.397);
}



/*  FORMULARIO   */

form {
    width: 80%;
    margin-left: 130px;
    margin-bottom: 100px;
    background-color: rgba(211, 211, 211, 0.815);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px 15px 15px 15px;
    height: auto;
}

.containerFormulario {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
    width: 90%;

}

.containerFormulario h3 {
    text-align: center;
    color: rgb(107, 106, 106);
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 25px;
    border-bottom: 1px solid rgb(107, 106, 106); ;
}

/* datos personales */

.datos_personales {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

}

.datos_personales1{
    display: flex;
    width: 100%;
    margin-left: 20px;

}

.datos_personales1 div{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.datos_personales1 label{
    width: 90%;
}

.datos_personales1 input {
    width: 90%;
    border: none;
    border-bottom: 1px solid grey;
    background:none;

}

.datos_personales1 input:hover {
    background-color: lightslategrey;
}

/* datos curso bootcamp */

.datos_curso {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px;

}


.datos_curso1 {
    display: flex;
    justify-content:space-between;
    margin: 0 30px 30px 30px;
   
}

.datos_curso1 p {
    margin-right: 20px;
}

.datos_curso1 .full_part_time {
    justify-content: left;
    display: flex;
}
.datos_curso1 .full_part_time1 {
    display: flex;
    flex-direction: column;
    
}

.datos_curso2 {
    display: flex;
    justify-content:space-between;
    margin: 30px 30px 30px 30px;

   
}
.como_conociste {
    display: flex;
    align-items: center;
}


.conocimientos{
    display: flex;
    flex-direction: column;

}

.conocimientos p {
    text-align: left;
}
.checkbox {
    margin-top: 10px;
    display:flex;
    flex-direction: column; 
    justify-content: space-between;
    width: 400px;
    font-size: 15px;

}

.checkbox1 {
    justify-content: space-between;
    display:flex;
}

.checkbox1 div {
    width: 107px;
    
}

/* comentarios */

.datos_pie {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px;
    border-top: 1px solid rgb(107, 106, 106);
    align-items: center;
}

.comentarios {
    width: 60%;
    height: 100px;   
}

.comentarios textarea {
    width: 100%;
    height: 100px; 
    
}

.submit {
    margin: 10px 0 0 400px;
}


/*  MEDIA QUERY FORMULARIO  */

@media screen and (max-width: 667px) {

    
    .box {
        height: 300px;
        position: absolute;
    }

    .fondo_movil {
        display: block;
    }
    .imagen_movil img{
        width: 200px;
    }

    .fondo_laptop {
        display: none;
    }

    .container_navbar_movil{
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: lightgrey;
    }

    

    .container_navbar_laptop {
        display: none;
    }
    
    .fondo {
        display: none;
    }

    /*
    .container_navbar {
        flex-direction: column;
        height: 315px;
        margin-top: 10px;
        justify-content: flex-start;
        align-items: center;
        
    }

    .container_navbar nav{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 10px;
        background-color: lightgray; 
        border-bottom: 6px  solid rgb(190, 189, 189);
        border-top:6px  solid rgb(190, 189, 189);
        box-shadow: 0 0 2px 2px rgb(190, 189, 189);
        width: 100%;
           
    }

    .container_navbar nav div {
        border-bottom: 1px dotted rgb(172, 169, 169); 
        margin: 0 0 10px 0;
        width: 100%;
        text-align: center;
        vertical-align:super;
    }

    .container_navbar nav div .boton_inscribete {
        border-bottom: none; 
    }

    .container_navbar .imagen {
        display: none;
    }


    .fondo {
        height: 180px;   
        margin: auto;
        margin-top: 0px;
        background-position-y:bottom;
    }
    */

    form {
        width: auto;
        margin: 10% 2% 10% 2%; 
    }

    .containerFormulario {
        margin:auto;
        
        
    
    }

    .datos_personales1 {
        flex-direction: column;
        font-size: 15px;
    }


    
    .datos_curso1 {
        flex-direction: column;
        justify-content: space-between;
        height: 150px;
        margin-left: 22px;
        
    }

    

    .datos_curso2 {
        flex-direction: column;
        justify-content:space-between;
        /* margin: 10px auto 20px 22px; */
        /* width: auto; */
    
       
    }
    .checkbox {
        width: 350px;
        margin-bottom: 20px;
    }

    
    .submit {
        margin: 10px auto auto auto;
    }

    .linea2 {
        height: 180px;
    }

    .containerFooter {
        flex-direction: column;
        
    }

    .imagen2 img {
        
        
        margin-top: 70px;
       
        margin-left: 50px;
    }
   
}
