* {
    margin:0;
    padding:0;
    box-sizing: content-box;
    font-family:"poppins";
    
}

/* HEADER */

header{
    width: 100%;
    height: 400px;
}

.box {
    width: 100%;
    height: 20px;
    background-color: rgb(164, 166, 168);
    background: linear-gradient(to bottom, rgb(164, 166, 168), white );

}

.fondo {
    width: 100%;   
    height: 300px;
    background-image: url("../images/background-image.jpg") ;
    background-repeat: no-repeat;
    background-position-y: -400px; 
    background-size: cover;
    margin-top: 0px;
    filter:brightness(60%);
    box-shadow: 0 0 8px 8px  black inset; 
    
    
}

.imagen img {
    width:100px; 
    margin-left: 80px;
    display: block;
    position:absolute;
    top: 5px; 
    z-index: -1;
}


.containerMenu{
    flex-direction: row;
    font-size: 20px;
    text-align:right;
    margin-top: 30px;   
    width: 100%;;  
    height: 40px;
    margin-left: -30px;
}

.containerMenu a {   
    color:rgb(80, 80, 80);   
    text-decoration: none;
    margin-left: 60px;
    vertical-align: top;
    
}

.containerMenu a:hover{
    background-color: rgba(158, 158, 158, 0.473);
    border-radius: 5px 5px 5px 5px ;
    font-size: 21px;
    color: white;
  
}


.logo img {
    width: 300px;
    margin-top: -200px;
    margin-left: 600px;
    position: absolute;
    
   
    
}

/*  HOME  */

/*  BODY   */

.fondoBody h2 {
    text-align: center;
    font-weight: bold;
    border: 3px solid lightgrey;
    width: 100%;  
    margin-top: 80px;
    font-size: 25px;
} 

.fondoBody {
    /* background: radial-gradient( lightgray 30%, white 70% ); */
    margin-top: -80px;
    height: 700px;  
}

.main {
    width: 80%;
    margin: auto;
    min-height: 400px; 
    
}


.container{
    display:flex;
    justify-content:space-evenly;
    margin-top: 90px;
    height: 400px;
    font-size: 20px;
    align-items: center;  
}


.curso {
    text-align: center;
    height: 300px;
    width: 200px;
    justify-content: space-evenly;
    border: 1px solid lightslategrey;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 5px 5px  rgb(184, 184, 184);
    background-image: url("../images/images.jpg");  
    background-color: white; 
    background-repeat: no-repeat;  
    background-size: cover;
    font-size: 25px;
      
}

.fecha {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    font-weight: bold; 
    margin-top: 20px;  
}

.mes {  
    text-align: left;
    
}

.dia {
     width: 40px; 
}

.tipo {
    margin: 30px auto 30px auto;
}

.inscribir {
    height: 40px;
    margin-top: 30px;
    width: 150px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 0 6px 6px  rgb(184, 184, 184); 
    /* background: linear-gradient(to right,#ac91f7,#ac91f7, #8a6cf7,#7e52f7,#6e49f7,#6c35ee,#471eb8); */
    background: linear-gradient(to right,#f5f0dd,#f5e9b8, #f3e598,#f8dd91,#f1d65e,#d4b93e,#c7b02d)
}

.inscribir:hover {
    width: 170px;
    font-size: 22px;
}

/*  FOOTER  */

footer {    
    height: 50px;
    width: 100%;

}

.containerFooter{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;     
}

.imagen2 img {
    width: 150px;
    position:absolute;
    margin-top: 20px; 
    display: block;
    margin-left: 80px;
}

.containerFooter p {
    margin-right: 50px;
    margin-top: 30px;
    
}

.linea2{
    position:absolute;
    z-index: -1;
    width: 100%; 
    height: 80px;
    background-color: rgb(164, 166, 168);
    background: linear-gradient(to top, rgb(164, 166, 168), white );
}

/*  CONTACTO  */

h2{
    text-align: center;
    font-weight: bold;
    border: 3px solid lightgray;
}


.containerContacto {
    width: 40%;
    margin-left: 650px;
    margin-top: 150px;
    text-align: center;
    
}

.containerContacto p {
    margin-top: 20px;
}

.main .lineaContacto {
    border-left:  3px solid lightgray;
    height: 297px;
    position: absolute;
    margin-top: -78px;
    margin-left: 600px;
    
    
}

iframe {
    position: absolute;
    margin-top: -80px;
    margin-left: 130px;

}

/*  CONÓCENOS  */


.container2 {
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-around;  

}

.cabecera {
    width: 40%;
    text-align: center;
    margin: 260px 90px 20px 0px;
    font-weight: bold;
}

.lineaConocenos {
    border-left:  3px solid lightgray;
    height: 680px;
    position: absolute;
    margin-top: 20px;
    margin-left: -230px;
}


.profes {
    width: 60%;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: space-around;
}

.mentor {
    height: 150px;
    text-align: center;
    display: flex;
    flex-direction: row;  
    align-items: center; 
    margin-bottom: 90px; 
}

.mentor:hover {
    transform:scale(1.2);
    transition: transform 2s;
    
}

.nombre {
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
    margin-bottom: 30px;

}

.mentor p{
    text-align:start;
    margin-left: 20px;
    vertical-align: top;
    height: 150px;
}

.mentor img {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    margin-bottom: 10px;
    
}


/*    INFO    */

.containerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center; 

    
    
}

.horario {
    font-size: 15px;
    display:flex; 
    justify-content: space-evenly;
    height: 300px; 
    margin-top: 150px; 
    

}

.imagenHorario img {
    width: 180px;
    height: 180px;
    border-radius: 180px;
    box-shadow: 0 0 20px rgba(137, 138, 131, 0.5);
}

.listaDescriptiva dl {
    width: 750px;
    font-weight: bold;
   
}

.listaDescriptiva dt{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    background-color: rgba(211, 211, 211, 0.336);
    box-shadow: 0 0 10px rgba(137, 138, 131, 0.397);
    
}

.listaDescriptiva dd {
    margin-left: 10px;
}

/*  Tabla  */

.containerInfo h3 {
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid lightgrey;

}

.contenidoTabla {
    border-collapse: collapse;
    margin: 45px 0 0 0px;   
    border-radius: 5px 5px 0 0;
    overflow:auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-size: 16px; 
    
    
}

.contenidoTabla thead tr {
    background-color: #7184b8;
    color: white;
    text-align: left;
    font-weight: bold;
}

.contenidoTabla th,
.contenidoTabla td {
    padding: 12px 20px;
}

.contenidoTabla tbody tr {
    border-bottom: 1 px solid rgb(133, 130, 130);
    color: rgb(53, 53, 53);

}


.contenidoTabla tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;

}

.contenidoTabla tbody tr:last-of-type {
    border-bottom: 2px solid #7184b8;
}

.contenidoTabla tbody tr:hover {
    background-color: #7184b8ab;
    transition: 0.5s;
    transform:scale(1.02);
    color: white;
    font-weight: bold;
    
}


/*   Listas   */

ul {
    padding: 10px 20px 10px 20px;
    list-style-type:none;
    
}


.containerListas {
    display: flex;
    margin-top: 50px; 
    margin-bottom: 50px;
    font-size: 15px;
    
    
    
}

.lineaContenido {
    border-left:  3px solid lightgray;
    height: 1800px; 
    position: absolute;
    margin-top: 20px;
    margin-left: 600px;
}

.contenido {
    width: 600px; 
}


.containerListas h3 {
    text-align: center;
    font-size: 20px;
    margin: 20px 0 20px 0;
    background-color: rgba(211, 211, 211, 0.336);
    box-shadow: 0 0 10px rgba(137, 138, 131, 0.397);
}

